<div class="row text-center">
  <%= div_for @energy_pack do %>

    <%= render 'energy_pack' %>

    <%= form_for @energy_pack do |f| %>
      <%= f.submit 'Buy Energy Pack', class: 'btn btn-success btn-sm' %>
    <% end %>

  <% end %>
</div>
