<table>
  <tr>
    <th>Username</th>
    <th>Balance</th>
  </tr>
    <%= content_tag_for(:tr, @users) do |user| %>
      <td><%= user.username %></td>
      <td><%= user.balance %></td>
    <% end %>
</table>
