<h3>Name: <%= link_to mining_rig.name, user_mining_rig_path(current_user.id, mining_rig) %></h3>

<p>Total miners: <%= mining_rig.total_miners %></p>
<p>Total Miners consumption: W</p>
<p>Total Miners hash rate: TH/s</p>

<% if mining_rig.status %>
  <p>Mining Rig currently mining...</p>
<% else %>
  <p><%= button_to 'Start Mining', "/mining_rig/#{mining_rig.id}/miners", {method: 'patch'} %></p>
<% end %>

<p><%= button_to 'Edit', edit_user_mining_rig_path(current_user.id, mining_rig), {method: 'get'} %></p>
