<h1><%= @mining_rig.name %></h1>

<%= div_for @miners do |miner| %>
  <%= render partial: 'miners/miner', locals: {miner: miner} %>
  <%= render partial: 'miners/form', locals: {miner: miner, current_user: current_user} %>
<% end %>
