<div class="container">
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <%= content_tag_for(:li, @miners, class: 'col-md-3') do |miner| %>
          <%= render partial: 'miners/miner', locals: {miner: miner} %>
        <% end %>
      </ul>
    </div>
</div>
