<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="copyright-text">
          <p class="margin-b-0"><span class="glyphicons glyphicons-electricity"></span><a class="fweight-700" href="#">Miner's Game</a> Powered by: Donnadieu's Studio</a></p>
        </div>
      </div> <!-- End Col -->
      <div class="col-sm-6">
        <ul class="social-link pull-right">
          <li><a href=""><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a></li>
        </ul>
      </div> <!-- End Col -->
    </div>
  </div>
</footer>
